// SASS is where we write the code , and it automatically generate 
// style.css file for us , which includes all addtional terms

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary : #303146;
$big-font : 4rem;

// body{
//     display: flex;
//     color: $primary;          to excess the variable          
// }

// section h2{
//     color: $primary;
//     font-size: $big-font;
// }
// section button{
//     color: $primary;
// }

.introduction{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2{
        font-size: $big-font;         //like this we can also write the child inside it
    }
    button{
        border: none;
        background: $primary;
        padding: 1rem 3rem;
        cursor: pointer;
        transition: all 1s ease;

        &:hover{
            background: lightcoral;
        }
    }

    .box{
        color: #141ed4;
    }
}


//we can write all things above as shown.......

// .introduction h2{
//     font-size: $big-font; 
// }
// .introduction button{
//     border: none;
//     background: $primary;
// }